body {
    background-color: #2b2a2a;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;
    color: rgb(255, 255, 255);
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    color: rgb(255, 255, 255);
}