h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
    color: black;
}

h2 {
    font-family: monospace;
    font-size: 25pt;
    color: black;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    color: black;
}